.container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #222;

  .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  &:hover .clip {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
